﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/repos_inven.css" />
    <link rel="stylesheet" href="~/css/css_cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css">
  
    <link rel="stylesheet" href="~/css/orderrequiment.css">
    <link rel="stylesheet" href="~/css/ctdh.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/css/layoutAdmin.css">
    <link rel="stylesheet" href="~/css/ad_product.css">
    <link rel="stylesheet" href="~/css/ad_daskboard.css">
    <link rel="stylesheet" href="~/css/ad_saleruser.css">
    

</head>
<body>
    <div class="admin-layout-main">
        <div class="admin-sidebar">
            <partial name="_LoginPartial" />
            <ul class="admin-menu">
               <li class="item-menu">
                    <a href="/Admin/daskboard">
                        <div class="title">
                            <div class="item-icon"><i class="bi bi-graph-up"></i></div>
                            <h3 href="/Admin/daskboard">Tổng Quan</h3>
                        </div>
                        <div class="show d-none"><i class="fa-solid fa-angle-up"></i></div>
                   </a>
                   
               </li>
                <li class="item-menu">
                    <a href="#">
                        <div class="title">
                            <div class="item-icon"><i class="bi bi-cart4"></i></div>
                            <h3>Quản lý danh mục</h3>
                        </div>
                        <div class="show"><i class="fa-solid fa-angle-up"></i></div>
                    </a>
                        <ul class="submenu">
     
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/products">Quản lý sản phẩm</a></li>
               
                        </ul>
                </li>
                <li class="item-menu">
                    <a href="#">
                        <div class="title">
                            <div class="item-icon"><i class="bi bi-gear"></i></div>
                            <h3>Quản lý website</h3>
                        </div>
                        <div class="show"><i class="fa-solid fa-angle-up"></i></div>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/InforStorages">Thông tin cửa hàng</a></li>
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/BannerStorages">Quản lý Banner</a></li>
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/AdressStorages">Địa chỉ cửa hàng</a></li>
                    </ul>
                </li>
                <li class="item-menu">
                    <a href="#">
                        <div class="title">
                            <div class="item-icon"><i class="bi bi-list-check"></i></div>
                            <h3>Quản lý đơn hàng</h3>
                        </div>
                        <div class="show"><i class="fa-solid fa-angle-up"></i></div>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/orders">Thông tin đơn hàng</a></li>
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/orders/history">Lịch sử đơn hàng</a></li>
                    </ul>
                </li>
                <li class="item-menu">
                    <a href="#">
                        <div class="title">
                            <div class="item-icon"><i class="bi bi-list-check"></i></div>
                            <h3>Quản lý nhân viên</h3>
                        </div>
                        <div class="show"><i class="fa-solid fa-angle-up"></i></div>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/User/Saler">Thông tin nhân viên</a></li>
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Saler/User/user">Thông tin người dùng</a></li>
                        
                    </ul>
                </li>
              
             
            </ul>
        </div>
        <div class="admin-content">
           
            @RenderBody()
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".admin-content .navbar-icon").click(function(){
            $(".admin-sidebar").toggleClass("hide");
            $(".admin-content").toggleClass("show");
        })
        $(".admin-menu .item-menu > a").click(function () {
            $(this).next(".submenu").toggleClass("collapse");
            $(this).children(".show").toggleClass("active");
        })
    })
    $(function () {
        // Định dạng số tiền
        const money = 1234567890;
        const formattedMoney = money.toLocaleString();

        // Hiển thị số tiền
        $("#money").html(formattedMoney);
    });

    const evwheels = document.getElementsByClassName('repos-item-img-container');
    for (const evwhell of evwheels) {
        evwhell.addEventListener("wheel", wheelf);
    }

    function wheelf() {
        const imgresizes = document.getElementsByClassName('repos-item-img-show');
        for (const imgresize of imgresizes) {
            imgresize.style.width = "300px";
            imgresize.style.height = "300px";
        }

    }
</script>
</html>
@RenderSection("scripts", required: false)