
@{
    ViewData["Title"] = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner">
<h1>Đã đặt hàng thành công mọi người làm giao diện cái này </h1>
<h1>Giao diện gì cũng được những cho ok một tí hiện ra đã là đặt hàng thành công 
    với cho link quay về trang chủ
</h1>
</div>

