@using Microsoft.AspNetCore.Identity
@inject SignInManager<applicationUser> SignInManager
@inject UserManager<applicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="admin-profile">
     
    </div>
       
}

