@model CNPM_ktxUtc2Store.Models.BannerStorage


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Saler/Views/Shared/_Layout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>BannerStorage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bannerpicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bannerpicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InforStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InforStorage.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
