
.all{
   background:white;
    border: 1px solid black;
    border-radius: 2px;
    padding : 10px;
    
}




.all-categories {
    background: #F8F8F8;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    padding-top: 20px;
}
.all-variation {
  
   
}
.admin-variation-process {
    width: 100%; /* Chiều rộng của khối là 70% của chiều rộng màn hình */
    height: 100%; /* Chiều cao của khối là 70% của chiều cao màn hình */
    border: 1px solid #ccc; /* Border cho khối */
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    margin: 0.4rem 0;
}
.admin-product-head {
    display: grid;
    margin-top: 2px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    grid-template-columns: 30% 40% 30%;
    place-content: center;
    border-radius: 10px;
    position: relative;
    height: 60px;
    background: white;
}
    .head-item{
        display: grid;
        place-content: center;
        justify-content: space-evenly;
    }
.add-product{
 
    height: 100%;
}
.category-head-color {
    background: #BBBBBB;
}
.admin-category-around {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}
.admin-category-table {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 80% ;
    height: 75vh;
}
.admin-category {
    display: grid;
    justify-content: space-between;
    place-content: center;
    flex-basis: 10%;
}
.admin-category-id {
    display: grid;
    place-content: center;
    flex-basis: 20%;
}
.admin-category-name {
    display: grid;
    place-content: center;
    flex-basis: 35%;
}
.admin-category-controle {
    display: grid;
    place-content: center;
    flex-basis: 35%;
    
}
.admin-category-controle-option{
    display:flex;
    place-content:center;
    justify-content:center;
    padding:5px;
}
.add-product-1 {
    height: 100%;
    border-radius: 10px;
    display: grid;
    place-content: center;
}
.add-product-1:hover{
    background-color: dodgerblue;
}
.admin-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;

}
.admin-product-name{
    display: grid;
    place-content: center;
    flex-basis: 20%;
}
.admin-product-image {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
    .hover-img {
        position: relative;
    }
    .show-img {
       display: none;
        position: absolute;
        width:400px;
        height: 400px;
        top: -200px;;
        left : 150%;
        z-index: 1;
    }
    .show-img img{
        border-radius: 20%;
    }
    .show-img:before {
        content: "";
    }
    .hover-img:hover .show-img{
        display: block;
    }
.admin-product-price {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
.admin-product-discount {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
.admin-product-quanty {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
.admin-product-descript {
    display: grid;
    place-content: center;
    
    flex-basis: 10%;
}
.admin-product-descript-tooltip {
    position: relative;
}
.hover-show-descript {
    
}
.show-descript {
    display: none;
    position: absolute;
    width:200px;
    height: 200px;
    top: -80px;
    right : 150%;
    padding: 5px;
    border: 1px solid lightblue ;
    border-radius: 10%;
    z-index: 1;
    background-color: lightblue;
}
    .show-descript::before {
        content: '';
        position: absolute;
        right: -10%;
        top: 40%;
        border: 10px solid;
        border-color: #0000 #0000 #0000 lightblue;
    }

    .admin-product-descript-tooltip:hover .show-descript {
    display: block;
    }
.admin-product-controle {
    display: grid;
    place-content: center;
    grid-template-columns: 30% 30%;
    flex-basis: 20%;
}
.head-color{
    background-color: aqua;
}
.m-color-full {
    background: #e74c3c;
}
