.admin-user-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.admin-user-all-block {
    width: 80%;
    height: 100%;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    background: #E8E8E8;
}
