.admin-user-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.admin-user-all-block {
    width: 80%;
    height: 100%;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    background: #ffff;
}
.admin-user-all-block-header{
    display:flex;
    justify-content:space-between;
    height:50px;

}
.header-color {
    background: #E8E8E8;
    
}