* {
    box-sizing: border-box;
    
}


.content-body{
    width: 100%;
}
.detail-card-wrapper {
    max-width: 100%;
    margin-top: 50px;
}
    .detail-card-wrapper .card {
        padding: 10px 25px;
    }
img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;

}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;

}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}
    .product-content .product-detail .box-detail p.title {
        padding: 0;
        color: #12263a;
        font-size: 16px;
        opacity: 1;
        margin-bottom: 10px;
        line-height: 1;
    }
    .product-content .product-detail .box-detail .item-detail {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
        .product-content .product-detail .box-detail .item-detail input {
            opacity: 0;
            width: 0;
            position: absolute;
        }
        .product-content .product-detail .box-detail .item-detail label {
            padding: 8px 20px;
            line-height: 1;
            border: 1px solid #ccc;
            margin-right: 10px;
            cursor: pointer;
        }
            .product-content .product-detail .box-detail .item-detail label:hover {
                border: 1px solid #e74c3c;
                color: #e74c3c;
            }
        .product-content .product-detail .box-detail .item-detail input:checked ~ label {
            border: 1px solid #e74c3c;
            color: #e74c3c;
        }
    .product-content .product-detail .box-detail.amount{
        display:flex;
        align-items:center;
    }
    .product-content .product-detail .box-detail.amount h6 {
        margin: 0;
        margin-left: 10px;
        font-size: 14px;
        color: #a9a9a9;
    }
    .product-content .product-detail .get-product {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 20px 0px 50px 0px;
    }
            .product-content .product-detail .get-product .add {
                color: #e74c3c;
                border-color: #e74c3c;
            }
                .product-content .product-detail .get-product .add:hover {
                    color: #fff;
                }
                    .product-content .product-detail .get-product .add:hover::after {
                        background: #e74c3c;
                        border-color: #e74c3c;
                    }
            .product-content .product-detail .get-product .buy {
                background: #e74c3c;
                border-color: #e74c3c;
                color:#fff
            }
                .product-content .product-detail .get-product .buy:hover {
                    filter: brightness(0.95);
                }
                .product-title {
                    font-size: 28px;
                    text-transform: capitalize;
                    font-weight: 700;
                    position: relative;
                    color: #12263a;
                    margin: 10px 0px;
                }
.product-describe h3 {
    font-size: 20px;
    margin: 10px 0px;
    background: #cccccc57;
    padding: 5px;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #a9a9a9;
    text-decoration: line-through;
}

.new-price span {
    color: #FF4500;

}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 2rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.info span {
    margin-left: 10px;
}

.size {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.size p {
    font-size: 1rem;

}


.psize p {
    width: 180px;
    height: 36px;
    border: 1px solid lightgray;
    color: #000;
    text-align: center;
    margin: 0 10px;

    cursor: pointer;
}

.psize.active {
    border-width: 1.5px;
    color: rgb(137, 5, 5);
    border: 1px solid rgb(137, 5, 5);
}

.psize p:hover {
    border: 1px solid rgb(137, 5, 5);
    color: rgb(137, 5, 5);
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    opacity: 0.9;
    margin: 0.4rem 0;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.9;
}

.product-content ul li span {
    font-weight: 400;
}

.purchase-info {
    display: flex;

    margin: 1.5rem 0;
}

.purchase-info p {
    margin: 0 10px;
    margin-left: 0;
    font-size: 1rem;
}


.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.5rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;

}

.purchase-info .btn:first-of-type {
    background: #f5dad0;
    border: 1.5px solid #FF4500;
    color: #FF4500;
}

.purchase-info .btn:last-of-type {
    background: #FF4500;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links {
    display: flex;
    align-items: center;

}

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #e74c3c;
        border: 1px solid #e74c3c;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }

        .social-links a:hover {
            background: #e74c3c;
            border-color: transparent;
            color: #fff;
        }
.setting-wrap {
    margin-top: 35px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
    .setting-wrap h2.title {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 26px;
        line-height: 1;
        margin-bottom: 14px;
        text-transform: capitalize;
        vertical-align: middle;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
    .setting-wrap .setting-box .nav-item .nav-link {
        color: #e74c3c;
    }
    .setting-wrap .setting-box .nav-item .nav-link.active {
        background-color: #e74c3c;
        color:#fff;
    }
    .setting-wrap .setting-box .col-md-2 {
        border-right: 1px solid #ccc;
    }
    .setting-wrap .setting-box .wrap-btn.save {
        color: #fff;
        background-color: #e74c3c;
        border: 1px solid #e74c3c;
        padding: 10px 20px;
    }
        .setting-wrap .setting-box .wrap-btn.save:hover {
            filter: brightness(0.95);
        }
    .setting-wrap .setting-box input:focus {
        box-shadow: unset;
        border: 1px solid #e74c3c;
    }
    .setting-wrap .setting-box .up-img:focus {
        box-shadow: unset;
        border: unset;
    }
    @media screen and (min-width: 992px) {
        .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .product-content {
        padding-top: 0;
    }
}