html {
    background: #F0F0F0;
}
.admin-layout-main {
    display: flex;
    width: 100%;
    height: 100%;
}

    .admin-layout-main .admin-sidebar {
        position: fixed;
        left: 0%;
        height: 100%;
        width: 15%;
        background: #000;
        color: #fff;
        z-index: 2;
        transition: all .5s;
    }

        .admin-layout-main .admin-sidebar.hide {
            left: -100%;
        }

        .admin-layout-main .admin-sidebar .admin-profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            margin-bottom: 50px;
        }

            .admin-layout-main .admin-sidebar .admin-profile .ava {
                display: block;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background: #5b5b5b;
                overflow: hidden;
            }

            .admin-layout-main .admin-sidebar .admin-profile .name {
                line-height: 1;
                font-size: 16px;
                padding: 5px 0px;
            }

        .admin-layout-main .admin-sidebar .admin-menu .item-menu {
            display: inline-block;
            width: 100%;
            height: 45px;
            border-bottom: 1px solid #4d4d4d;
        }
            .admin-layout-main .admin-sidebar .admin-menu .item-menu .show.d-none i {
                opacity:0
            }
            .admin-layout-main .admin-sidebar .admin-menu .item-menu .show.active i {
                transform: rotate(180deg);
            }
            .admin-layout-main .admin-sidebar .admin-menu .item-menu > a {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 0px 10px;
                line-height: 1;
            }

            .admin-layout-main .admin-sidebar .admin-menu .item-menu a .title {
                display: flex;
                align-items: center;
                gap: 10px;
            }

                .admin-layout-main .admin-sidebar .admin-menu .item-menu a .title h3 {
                    font-size: 16px;
                    margin: 0px;
                    line-height: 1;
                    text-transform: capitalize;
                }

            .admin-layout-main .admin-sidebar .admin-menu .item-menu a .show {
                width: 30px;
                height: 30px;
                text-align: end;
                line-height: 30px;
                font-size: 14px;
            }

                .admin-layout-main .admin-sidebar .admin-menu .item-menu a .show.hide {
                    opacity: 0
                }

                .admin-layout-main .admin-sidebar .admin-menu .item-menu a .show i {
                    transition: all .3s;
                }

            .admin-layout-main .admin-sidebar .admin-menu .item-menu .submenu {
                display: block;
                width: 100%;
                height: 0;
                overflow: hidden;
                vertical-align: top;
                margin-bottom: -15px;
                transition:all .3s;
            }
            .admin-layout-main .admin-sidebar .admin-menu .item-menu .submenu.collapse {
                height:fit-content;
            }
                .admin-layout-main .admin-sidebar .admin-menu .item-menu .submenu .submenu-item {
                    display: flex;
                    width: 100%;
                    height: 35px;
                    align-items: center;
                    padding: 0px 10px;
                    opacity: 0.7;
                }
                    .admin-layout-main .admin-sidebar .admin-menu .item-menu .submenu .submenu-item:hover {
                        background: #fbfbfb24;
                        opacity: 1;
                    }
                    .admin-layout-main .admin-sidebar .admin-menu .item-menu .submenu .submenu-item > a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        line-height: 35px;
                        font-size: 15px;
                    }
                    .admin-layout-main .admin-sidebar .admin-menu .item-menu .submenu .submenu-item > i {
                        padding-left: 25px;
                    }
                       
                        .admin-layout-main .admin-content {
                            background: #F0F0F0;
                            width: 100%;
                            height: 100%;
                            margin-left: 15%;
                            padding: 10px 20px;
                            transition: all .5s;
                        }

        .admin-layout-main .admin-content.show {
            margin: 0px;
        }

        .admin-layout-main .admin-content .admin-head {
            display: flex;
            padding: 0px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 15px;
        }

            .admin-layout-main .admin-content .admin-head .navbar-icon {
                font-size: 23px;
                line-height: 1;
                cursor: pointer;
            }
    .admin-layout-main .admin-content a{
        display:inline-block;
    }
                            .admin-layout-main .admin-content .change {
                                color: #e74c3c;
                                border-color: #e74c3c;
                            }
    .admin-layout-main .box-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0px;
    }
    .admin-layout-main .img-banner {
        max-width: 150px;
    }
    .admin-layout-main .group-info .form-group {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
        .admin-layout-main .group-info .form-group label {
            display: block;
            text-wrap: nowrap;
            border-radius: 5px 0px 0px 5px;
            padding: 7px 10px;
            background: #e74c3c;
            color: #fff;
            width: auto;
            height: 100%;
        }
        .admin-layout-main .group-info .form-group:not(.sp) input {
            padding: 7px 10px;
            border-radius: 0px 5px 5px 0px;
        }
.img-hover img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.hidden{
    display: none;
}
.btn-blue{
    background-color: deepskyblue;

}
    .btn-blue:hover{
        background-color: blueviolet;
    }
.btn-green{
    background-color: lightgreen;

}
    .btn-green:hover{
        background-color: forestgreen;
    }
.btn-red{
    background-color: orangered;
}
    .btn-red:hover{
        background-color: red;
    }
.txt-blue{
    color: blue;
}