.content-pl-tab{
    position: relative;
}
.order-head-color {
    background: #BBBBBB;
    height:50px;
}
.order-all {
    height: 75vh;
    background: #F8F8F8;
}
.pl-tab {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.all-variation{
    display:flex;
    flex-direction:row;
}
.admin-category-color {
    display: flex;
    flex-direction: row;
    margin-right: 2px;
}
.admin-category-size {
    display: flex;
    flex-direction:row;
   margin-right:2px;
}


#content-pl-tab-all {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.phanloai{
    display:flex;
    justify-content: space-between;
    width:40%;
    flex-direction:row ;
    height:50px;
     margin-bottom:10px;
    padding-right :5px;
}
    .phanloai .phanloai-item {
        padding-right: 10px;
        width: 200px;
        display: grid;
       justify-content: space-evenly;
       
    }
.phanloai .hh {
    display: grid;
    place-content: center;
    justify-content: space-evenly;
    padding: 10px;
  
  
}
.admin-order-head {
    display: grid;
    margin-top: 2px;
    margin-bottom: 20px;
}
.admin-ordersawait {
    display: flex;
    flex-direction: row;
    height: 50px;
}
.admin-orders-process {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.phanloai a:hover {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}
.admin-orders {
    display: flex;
    flex-direction: row;
    height: 50px;
}


.admin-order-select {
    display: grid;
    place-content: center;
    flex-basis: 3%;
}

.admin-order-user {
    display: grid;
    flex-basis: 15%;
    place-content: center;
}

.admin-order-product{
    display: grid;
    place-content: center;
    flex-basis: 12%;
}
.admin-order-size {
    display: grid;
    place-content: center;
    flex-basis: 8%;
}
.admin-order-sl {
    display: grid;
    place-content: center;
    flex-basis: 8%;
}
.admin-order-price {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
.admin-order-address {
    display: grid;
    place-content: center;
    flex-basis: 25%;
}
.search-order{
    display:flex;
    place-content:center;
    
}
.admin-order-head {
    display: flex;
    justify-content: space-between;
}
.order-all {
    width: 100%;
}
.admin-order-date {
    display: grid;
    place-content: center;
    flex-basis: 13%;
}
.admin-order-option {
  
    flex-basis: 100px;
 
    padding-left:10px;
    padding-right:23px;
}
