@model  CNPM_ktxUtc2Store.Models.product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Saler/Views/Shared/_Layout.cshtml";
}



<div class="row" style="display: grid; justify-content: space-evenly; grid-template-columns: 80%; ">
    <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
        <div class="admin-product-head">
            <div class="head-item">
                <h5><i class="fas fa-plus" style="font-size: 1em; padding-right: 5px;"></i> Thêm sản phẩm</h5>
            </div>

            <div class="head-item search-box">
            </div>
            <div class="head-item add-product">
                <div class="add-product-1">
                    <a class="wrap-btn " style="background-color:#F8F8F8" href="/Admin/products">Danh sách sản phẩm</a>
                </div>

            </div>
        </div>
        <form asp-area="Saler" asp-controller="products" asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             <div>
                
                <div class="form-group">
                    <label class="control-label">Tên Sản Phẩm</label>
                    <input asp-for="productName" class="form-control" />
                    <span asp-validation-for="productName" class="text-danger"></span>
                  
                </div>

                <div class="form-group">
                    <label asp-for="oldprice" class="control-label" id="checkprice">Giá Nhập</label>
                    <input asp-for="oldprice" class="form-control" min="1"/>
                    <span asp-validation-for="oldprice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="price" class="control-label">Giá Bán</label>
                    <input asp-for="price" class="form-control" min="1" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-8" style="width: 100%;">
                        <label asp-for="image">Ảnh Minh Họa</label>
                        <input type="file" class="form-control" asp-for="image" id="ChooseImg" />
                    </div>
                    @* <div class="col-4">
                    <img src="https://placehold.jp/150*150.png" style="width:100px; height:100px;border:1px solid red; border-radius:10px;padding:10px; "
                    alt="product image" id="PreImg" />
                    </div> *@
                </div>
                <div class="form-group">
                    <label asp-for="categoryId" class="control-label">Loại Sản Phẩm</label>
                    <div style="display:flex; justify-content:space-between">
                        <select asp-for="categoryId" class="form-control" asp-items="ViewBag.categoryId" style="width:95%;"> </select>
                        <div class="add-product-1">
                            <a class="wrap-btn " style="background-color:#F8F8F8 ; height:100%;" href="/Saler/Categories"><i class="fas fa-plus" style="font-size: 1em; padding-right: 5px;"></i></a>
                        </div>
                    </div>
                   

                </div>
                <div class="form-group">
                    <label asp-for="qty_inStock" class="control-label">Số Lượng Nhập</label>
                    <input asp-for="qty_inStock" class="form-control" min="1"/>
                    <span asp-validation-for="qty_inStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Mô Tả Sản Phẩm</label>
                    <textarea asp-for="description" class="form-control" rows="4" style="width: 100%;"></textarea>
                    @* <input asp-for="description" class="form-control" /> *@
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>
            <div style="display:flex ; justify-content: space-between; padding-top:10px; padding-bottom: 10px;">
                <div class="form-group">
                    <button type="submit" asp-area="Saler" asp-controller="products" asp-action="Create"  class="wrap-btn " style="background-color:#F8F8F8">Lưu</button>
                   
                </div>
                
            </div>
          
        </form>
    </div>
</div>



<script>
    document.getElementById('checkprice').addEventListener('input', function () {
        // Lấy giá trị của input
        var inputValue = this.value;

        // Kiểm tra điều kiện phù hợp
        if (inputValue < 0) {
            console.log('Nội dung phù hợp.');
        } else {
            console.log('Nội dung không phù hợp.');
        }
    });
</script>
