@model applicationUser

<li class="login-item">
    <img src="/images/@Model.profilePicture" style="width:35px;height:35px;">
</li>
<li class="login-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <span id="username">@Model.fullname</span>
    </a>
</li>
