@model CNPM_ktxUtc2Store.Models.category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Saler/Views/Shared/_Layout.cshtml";
}

<div >
    <div  style="display: grid; justify-content: space-evenly; grid-template-columns: 80%; padding-bottom:20px;">
        <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
            <div class="admin-product-head">
                <div class="head-item">
                    <h5><i class="fas fa-plus" style="font-size: 1em; padding-right: 5px;"></i> Loại sản phẩm</h5>
                </div>

                <div class="head-item search-box">
                </div>
                <div class="head-item add-product">
                    <div class="add-product-1">
                        <a class="wrap-btn " style="background-color:#F8F8F8" href="/Saler/products">Danh sách sản phẩm</a>
                    </div>
                </div>
            </div>
            <div style="">
                <form asp-area="Saler" asp-controller="categories" asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 80%;" >
                        <div style="padding-right:10px;">
                            <label class="control-label">Loại sản phẩm</label>
                        </div>
                        <div style="display:flex;">
                           
                          
                            <div style="padding-right:10px; width:70%;">
                                <input asp-for="categoryName" class="form-control" />
                            </div>
                            <div style="padding:7px;border:1px solid black; background:#F8F8F8; ">
                                <button type="submit">Lưu</button>
                            </div>
                           
                          
                        </div>
                   
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="admin-category-table">

        @await Component.InvokeAsync("categories")
    </div>
</div>





