@model CNPM_ktxUtc2Store.Areas.Admin.dto.variationdto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Saler/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 80%; padding-bottom:20px;">
        <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
            <div class="admin-product-head">
                <div class="head-item">
                    <h5><i class="fas fa-plus" style="font-size: 1em; padding-right: 5px;"></i> @Model.categoryname</h5>
                </div>

                <div class="head-item search-box">
                </div>
                <div class="head-item add-product">
                    <div class="add-product-1">
                        <a class="wrap-btn " style="background-color:#F8F8F8" href="/Admin/products">Danh sách sản phẩm</a>
                    </div>
                </div>
            </div>
            <div style="">
                <form asp-area="Admin" asp-controller="categories" asp-action="Variation" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 80%;">
                        
                        <div >
                            <div>
                                <label class="control-label">Tên</label>
                            </div>
                            <div >
                                <input asp-for="name" class="form-control" />
                            </div>
                            <div>
                                <label class="control-label">Giá trị</label>
                            </div>
                            <div>
                                <input asp-for="value" class="form-control" />
                            </div>
                            <div style="padding:7px;border:1px solid black; background:#F8F8F8; ">
                                <button type="submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 80%;">
        <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
        <div class="all-variation">
            <div class="admin-variation-size">
                <div class="admin-variation-size-head">
                    Kích thước
                </div>
                <div class="admin-variation-size-head">
                    @foreach (var item in Model.variations)
                    {
                        <div class="admin-category-around">
                            <div style="display: none;" class="admin-category">
                                <label>
                                    <input type="checkbox"
                                           value="Id" />
                                </label>
                            </div>
                            <div class="admin-category-size">

                                @if (item.name == "size")
                                {
                                    @item.value
                                }
                            </div>


                        </div>

                    }
                </div>
            </div>

            <div class="admin-variation-color">
                <div class="admin-variation-color-head">
                    Kích thước
                </div>
                <div class="admin-variation-color-head">
                    @foreach (var item in Model.variations)
                    {
                        <div class="admin-category-around">
                            <div style="display: none;" class="admin-category">
                                <label>
                                    <input type="checkbox"
                                           value="Id" />
                                </label>
                            </div>
                            <div class="admin-category-size">

                                @if (item.name == "color")
                                {
                                    @item.value
                                }
                            </div>


                        </div>

                    }
                </div>
            </div>
        </div></div>
</div>
  